<div class="center hero-unit">
  <h1><%= t('welcome_silb') %></h1>

  <h2>
    <%= t('silb_stand_for') %>    
  </h2>

  <%= link_to t('sign_up_now'), signup_path, class: "btn btn-large btn-primary" %>
</div>
