<li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t('reports') %> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('sales_report'), admin_sales_report_path %></li>
  </ul>
</li>
