.overview {
  .span4 {
    .well {
      .head {
        color: #444;
        font-family: arial;
        font-size: 18px;
        margin: 17px 0 10px 0;
      }
      p {
        margin: 0;
        color: #666;
      }
    }
  }
}
