<% provide(:title, t('error_422.title')) %>
<div class="alert alert-error alert-block">
  <h4><%= t('error_422.title') %></h4>
  <p><%= t('error_422.content') %></p>
  <% if @exception %>
    <p><%= @exception.message %></p>
  <% end %>
</div>
